## Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Editors and IDE
*.sublime*
*.code-workspace

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
pids
logs
results
tmp
node_modules
npm-debug.log

## Build
build

## Cypress
examples
videos
screenshots
data

## Coverage reports
coverage

## API keys and secrets
.env
.env.development
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
